body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

#csvFile {
  display: block;
  margin: 20px auto;
}

table.dataTable thead th {
  text-align: center;
  white-space: nowrap; /* supaya header tidak wrap */
}

table.dataTable td {
  text-align: center;
}
